<div id="page">

    <div id="content">
        <div id="header">
            <h1>Uploads</h1>

            <h2>Welcome, <%=  current_user.first_name %></h2>
            <h2><%= link_to "Logout", session_path, method: :delete %></h2>
        </div>


        <div>
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
        </div>

        <%= form_tag({:action => :process_upload}, :multipart => true) do %>
              <%= file_field_tag 'upload' %>
              <button type="submit" >Upload</button>
        <% end %>


    </div>

</div>
